.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 50px;
}

.episode-details {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}


audio {
    width: 100%;
  }

  section#latest-episode{
    padding-bottom: 20%;
  }
  
  section#latest-episode > h2{
    margin: 0px 10px;
    text-align: center;
    padding-bottom: 15px;
  }
  div.radio{
    padding-left: 10%;
    padding-right: 10%;
  }
  
  #animatedGif{
    width: 100%;
  }

  

.episode-details p {
    margin: 0.5rem 0;
}

.episode-details ul {
    list-style-type: none;
    padding-left: 0;
}

.episode-details li {
    margin: 0.5rem 0;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer img{
    max-height: 50px;
}
